<!DOCTYPE html>
<html lang="en">

    <include file="Public:header" />
    <include file="Public:page_css" />

    <body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">

        <include file="Public:nav" />

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="text-success"><a href="{:U('Index/index')}" title="返回首页" class="tip-bottom"><i class="fa fa-home"></i> 首页</a> /
                                    <a href="#" class="tip-bottom"> 系统管理</a> / <a href="{:U('System/indexNotice')}" class="tip-bottom">系统消息</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a href="{:U('System/addNotice')}" class="btn btn-primary">添加消息</a>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-tasks"></i> 系统消息</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="long-tr">
                                    <th style="width: 5%">编号</th>
                                    
                                    <th style="width: 15%">标题</th>
                                    <th>内容</th>
                                    <th style="width:15%">添加日期</th>
                                    <th style="width: 25%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="vo" key="val">
                                    <tr class="long-td">
                                        <td style="text-align: center">{$val}</td>
                                        
                                        <td style="text-align: center">{$vo.title}</td>
                                        <td style="text-align: center">{$vo.info|htmlspecialchars_decode|stripslashes}</td>
                                        <td style="text-align: center">{$vo.add_time|date='Y-m-d H:i:s',###}</td>
                                        <td style="text-align: center">
                                            <a href="{:U('editNotice',array('id'=>$vo['id']))}" class="btn btn-primary btn-mini"><i class="fa fa-pencil"></i> 编辑</a>&nbsp;&nbsp;
                                            <a onClick="return confirm('是否删除此条记录')" href="{:U('delNotice',array('id'=>$vo['id']))}" class="btn btn-danger btn-mini"><i class="fa fa-trash-o"></i> 删除</a>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                        <div class="pages" style=" text-align: right;">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public:footer" />
    </body>

</html>