<head>
<title>{:C('SITENAME')}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="__PUBLIC__/Admin/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/animate.min.css" rel="stylesheet">  
    <link href="__PUBLIC__/Admin/css/style.min.css?v=4.0.0" rel="stylesheet">	
    <link href="__PUBLIC__/Admin/css/uploadfile.css" rel="stylesheet">
   	<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
   
</head>
