    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="__ROOT__/Uploads/{$admin['userimg']}" width="70px" height="70px"/></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong>{$admin['username']}</strong></span>
                                <span class="text-muted text-xs block">
                                	<if condition="$admin.role eq 0 ">
                                		超级管理员
                                		<else/>
	                                	<volist name="list2" id="vo2">
											<if condition="$admin.role eq $vo2.id ">
												{$vo2.name}
											</if>
											<if condition="$admin.role eq 0 ">
												超级管理员
											</if>
										</volist>
									</if>
                                	<b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="{:U('Index/pwd')}">修改密码</a>
                                </li>
                                <li><a href="{:U('Index/del')}">清除缓存</a>
                                </li>
                                <li><a href="{:U('Site/index')}">设置</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="javascript:;"  id="logout">退出系统</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">H+
                        </div>
                    </li>
                               
													
					  <li> 
					    <volist name="menu" id="vo">   
					    <if condition="$vo['pid'] eq 1">   
					        <if condition="$vo['single'] eq 1">
					              <li            
					                <if condition="(strtolower($nownav['m']) eq strtolower($vo['m']))">
					                 class="active"
					                 </if>
					                ><a href="{:U($vo['m'].'/'.$vo['a'])}"><i class="icon {$vo.ico}"></i> <span>{$vo.title}</span>
					                	<span class="label label-danger pull-right"></span></a>
					               </li>
					        <else/>
					            <li class="submenu 
					                <if condition="(strtolower($nownav['m']) eq strtolower($vo['m']))">
					                  active 
					                 </if>
					                "
					             > <a href="#"><i class="icon {$vo.ico}"></i> <span>{$vo.title}</span><span class="fa arrow"></a>
					              <ul class="nav nav-second-level">
					                  <volist name="menu" id="subnode">
					                      <if condition="$subnode['pid'] eq $vo['id']">
			                                 <li  
			                                   <if condition="(strtolower($nownav['m']) eq strtolower($subnode['m']) ) && (strtolower($nownav['a']) eq strtolower($subnode['a']) )">
			                                   class="active"
			                                   </if>
			                                ><a href="{:U($subnode['m'].'/'.$subnode['a'])}">{$subnode['title']}</a></li>
					                      </if>
					                  </volist>
					              </ul>            
					        </if>      
					     </if>  
					    </volist>
					  </li>									
					
                </ul>
            </div>
        </nav>


	<script type="text/javascript">
	$(document).ready(function(){
		$("#logout").click(function(){
			layer.confirm('你确定要退出吗？', {icon: 3}, function(index){
		    layer.close(index);
		    window.location.href="{:U('Login/loginout')}";
		});
		});
	});
	</script>
    <div id="page-wrapper" class="gray-bg dashbard-1">
    <include file="Public:top" />
